<div class="container contact-form">
  <div class="row header">
    <h1> BOOK NOW! &nbsp;</h1>
    <h3>Start Tour with us</h3>
  </div>
  <div class="row body">
    <form [formGroup]="bookForm" (ngSubmit)="submitBook()" novalidate>>
      <div class="row">
        <div class="col-md-15">
          <div class="form-group">
            <input type="text" name="name" formControlName="name" class="form-control" placeholder="Full Name *" required/>
            <p *ngIf="name.touched && name.invalid" class="error"><sup>*</sup>Please enter atleast first name</p>
          <p *ngIf="name.errors?.minlength" class="error"><sup>*</sup>Name shouldn't be less than 2 words</p>
          </div>
          <div class="form-group">
            <input type="email" name="email" formControlName="email" class="form-control" placeholder="Email *" value="" required/>
            <p *ngIf="email.touched && email.invalid" class="error"><sup>*</sup>Please provide email</p>
          <p *ngIf="email.errors?.pattern" class="error"><sup>*</sup>Please enter correct email</p>
        </div>
          <div class="form-group">
            <input type="tel" name="telephone" formControlName="telephone" class="form-control" placeholder="Telephone No. *" value="" required/>
            <p *ngIf="telephone.touched && telephone.invalid" class="error"><sup>*</sup>Please provide contact
              number</p>
            <p *ngIf="telephone.errors?.pattern" class="error"><sup>*</sup>Use numbers only
              number</p>
          </div>
          <div class="form-group">
            <select class="custom-select" formControlName="country" required>
              <option selected disabled value="">Country of residence *</option>
              <option>Sri Lanka</option>
              <option>Australia</option>
              <option>USA</option>
            </select>
          </div>
          <div class="form-group">
            <input type="number" name="guests" formControlName="guest_no"min="1" max="50" class="form-control" placeholder="Number of Guests *" value="" required />
          </div>
          
          <div class="form-group">
            <label for="validationCustom06">Check in out date *</label>
            <input type="date" name="arrival" formControlName="arrival" class="form-control" placeholder="Arrival *" value="" required/>
            <input type="date" name="departure" formControlName="departure" class="form-control" placeholder="Departure *" value="" required/>
          </div>
          <div class="form-group">
            <select class="custom-select" formControlName="destination"required>
              <option selected disabled value="">Destination *</option>
              <option>Safari</option>
              <option>Historical</option>
              <option>bla bla</option>
            </select>
            <div class="valid-feedback">Valid.</div>
            <div class="invalid-feedback">Please fill out this field.</div>
          </div>
       
            <div class="form-group">
              <textarea name="txtMsg" cols="46" rows="3" class="form-control" formControlName="message" placeholder="Your Message *"
                style="width: 100%; height: 150px;"></textarea>
         
          </div>
          <div class="form-group form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" name="remember" required>
              Agree to Terms and conditions.
            </label>
          </div>

          <button type="submit" class="btn btn-outline-info" id="btn" [disabled]="!bookForm.valid">Book</button>
          <small>or press <strong>enter</strong></small>
        </div>
     
      </div>
    </form>
  </div>

</div>
